:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-text-brown: #a18268;
}
/* Base */
body {
  color: var(--color-primary-dark);
}
ul {
  list-style-type: none;
}
/* Button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid;
  border-radius: 8px;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  cursor: pointer;
}
/* Links */
.link,
.link:visited {
  color: var(--color-primary-light);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-light);
}
/* Main section */
.hero-title {
  color: var(--color-primary-light);
  font-weight: 900;
  font-size: 128px;
  text-align: center;
}
.hero-title .accent {
  color: var(--color-brand-light);
}
/* Other sections */
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}
.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 131%;
}
.section-title .section-accent {
  color: var(--color-brand-dark);
}
/* Contact form */
.contact-form-title {
  color: var(--color-brand-dark);
}
.contact-form input::placeholder {
  color: var(--color-text-brown);
}
/* Footer */
.secure-data {
  color: var(--color-text-brown);
}
